.s-calendar {
  .s-calendar--header {
    display: flex;
    justify-content: space-between;
  }
  .s-week-list {
    display: flex;
    width: 100%;
    .s-week-list-item {
      width: calc(100% / 7);
      text-align: center;
    }
  }
  .s-calendar-month-body {
    &-row {
      height: 100px;
      display: flex;
    }
    &-cell {
      flex: 1;
      border: 1px solid #eee;
      padding: 10px;
      color: #ccc;
      &.today {
        span {
          color: #1989fa;
        }
      }
      &-current {
        color: #000;
      }
    }
  }
}
